MONGO_URI=MongoDBUrl
PORT=8080

EMAIL_USER=example@gmail.com
EMAIL_PASS=hjjh*********fghj

FRONTEND_URL=http://localhost:5173

JWT_REFRESH_SECRET=My_Secret_key
JWT_ACCESS_SECRET=My_another_secret_key

NODE_ENV=My_environment


CLOUDINARY_CLOUD_NAME=My_cloudinary_name
CLOUDINARY_API_KEY=My_cloudinary_key
CLOUDINARY_API_SECRET=my_cloudinary_secret

RAZORPAY_KEY_ID=My_razorpay_id
RAZORPAY_KEY_SECRET=my_razorPay_secret_key
RAZORPAY_WEBHOOK_SECRET=My_Razorpay_webhook


